<section class="password-wrapper">
    <h2>reset password</h2>
    <p>Enter your new password below.</p>
    <form class="password-form">
        <div>
            <label for="password-reset">new password:</label>
            <input type="email" id="password-reset">
        </div>
        <button type="submit" class="btn-login">submit</button>
    </form>
</section>

