header {
    @include flex(space-between, center, row);
    width: 100vw;
    background-image: url("../assets/background/static-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 1;

    nav {
        @include flex(space-between, center, row);
    }
}

#main-logo {
    width: 10%;
}

.dropdown {
    position: relative;
    display: inline-block;

    &:hover {
        .dropdown-list{
            @include flex(center, center, column)
        }
    }

    .dropdown-list {
        display: none;
        min-width: 10rem;
        position: absolute;
        background-color: $color-dark-grey;
        z-index: 2;

        a {
            color: $color-white;
            text-decoration: none;
            display: block;
            padding: 1rem;
            width: 100%;

            &:hover {
                background-color: $color-red;
            }
        }
    }
}

footer {
    @include flex(center, center, column);
    width: 100vw;
    background-color: $color-dark-grey;
    padding: 2rem;

    #footer-logo {
        width: 15%;
    }

    nav {
        margin: 2rem;

        .btn-nav {
            width: auto;
        }
    }

    .social-wrapper {
        @include flex(space-around, center, row);
    }

        a {
            text-align: center;
        }

        img {
            width: 20%;
        }
}