.ham-menu {
    display: inline-block;
    margin: 0.75rem;
    cursor: pointer;

    .bar-1, .bar-2, .bar-3 {
        width: 2.25rem;
        height: 0.25rem;
        border-radius: 10px;
        background-color: $color-white;
        margin: 0.5rem 0;
        transition: 0.5s;
    }
}

.ham-menu-x { 

    .bar-1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }
    
    .bar-2 {
        opacity: 0;
    }

    .bar-3 {
        transform: rotate(45deg) translate(-8px, -8px);
    }
}